[package]
name = "aoc5pt1"
version = "0.1.0"
edition = "2024"

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
panic = "abort"
debug = true

[dependencies]
rayon = "1.11.0"
thiserror = "2.0.17"
